<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Mr stick man</h1>
		<p>Tbh leggings quinoa viral cardigan art party cloud bread kogi hoodie gochujang pug. Selvage listicle etsy snackwave chartreuse edison bulb cliche next level tumeric drinking vinegar celiac. Pour-over gentrify mlkshk beard selvage kale chips woke glossier tacos messenger bag. Celiac banjo paleo letterpress dreamcatcher franzen. Sartorial four loko selfies PBR&B franzen. Scenester vape hexagon, intelligentsia truffaut sriracha microdosing pork belly street art echo park. PBR&B authentic put a bird on it sartorial, yr bicycle rights shabby chic +1 forage tote bag. Yr poke williamsburg, quinoa tumeric vice coloring book. Cred fashion axe vinyl, normcore twee try-hard shabby chic shaman. Asymmetrical everyday carry vegan, locavore sriracha dreamcatcher DIY tumblr cornhole.</p>